/* GLOBAL */
*, *:after, *:before {
    box-sizing: border-box;
}     
html {
    font-size: 62.5%;       /*1rem =10px*/
    height: 100%;
}    
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
/*--BODY--*/
body {
    background-color: #353535;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    height: 100%;
}
main {
    height: 100%;
    display: flex;
    position: relative;
}
#particles-js {
    position: absolute;
    height: 100%;
    width: 100%;
}
/*---ASIDE-NAV---*/
aside {
    height: 100%;
    width: 50px;
    background: rgba(17, 17, 17, 0.75);
}
aside>nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0 25px 0;
}
aside li {
    margin-bottom: 10px;
}
aside a, aside a:visited{
    color: #fff;
    font-size: 2rem;
}
aside a:hover {
    color: #c3c3c3;
}
/*---SECTION---*/
section {
    width: 90%;
    margin: 20px auto;
}
h1 {
    font-size: 3.5rem;
    color: #fff;
    font-weight: 600;
}
/*POPUP*/
.container {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: center;
}
.popup {
    background-color: #fff;
    border-radius: 10%;
    box-shadow: 3px 3px 2px #111111;
}
.popup a {
    color: #333333;
    font-size: 1.5rem;
    align-self: flex-end;
    margin-top: -40px;
    padding: 1.5rem 0;
}
#loginForm {
    width: 280px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loginForm, #addForm, #removeForm {
    display: none;
}
.form-login {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.form-login>input {
    margin-top: 1rem;
    border-radius: 20px;
    height: 40px;
    background-color: #e6e6e6;
    border: none;
    padding: 0 30px;
}
#login:focus::-moz-placeholder, #passwd:focus::-moz-placeholder {
    opacity: 0;
}
.btn-apply {
    background-color: #159bf1 !important; 
    color: #e6e6e6;
    font-weight: 600;
}
.btn-apply:hover {
    background-color: #333333 !important;
    cursor: pointer;
}
/*POPUP REMOVE ET ADD*/

/*ERREUR BOX*/
.container-error {
    position: absolute;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.error-box {
    width: 200px;
    height: 50px;
    background-color: rgba(255, 93, 93, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-box>span {
    color: #fff;
    font-size: 1.7rem;
}
